<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Help</title>

        <meta name="description" content="DESCRIPTION HERE">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <!-- Favicons (just the basics for now, check out http://realfavicongenerator.net/ for all available) -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" >
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" sizes="32x32">
        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes: 'modern-sf', 'vintage-sf', 'interstellar-sf'
        -->
        <div id="page-container" class="interstellar-sf">
            <!-- Header -->
            <header id="page-header">
                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="{{ url_for('parameters') }}"><i class="fas fa-sliders-h"></i> Parameters</a></li>
                        <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                        <li><a href="{{ url_for('help') }}"><i class="fas fa-question-circle"></i> Help</a></li>
                        <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About</a></li>
                    </ul>
                </div>
                <div class="menu-toggle">☰</div>
                <div class="h3 text-right pull-right hidden-xs">
                    <div id="datetime" class="text-crystal font-w300"></div>
                    <div id="time" class="text-crystal font-w300"></div>
                    <div id="temperature" class="text-crystal font-w300"></div>
                </div>
                <div class="logo">
                    <span class="text-crystal"><img class="rotate-img" src="{{ url_for('static', filename='img/logo.png') }}" width="100" height="100"></span>
                </div>
            </header>
            <!-- END Header -->
            <!-- Main Content -->
            <main id="page-main">
                <!-- Columns -->
                <div class="row">
                    <!-- Animated Circles Column -->
                    <div class="about col-lg-6 col-lg-push-3 overflow-hidden push-20">
                        <h2>Renew Tech H800X Generator Help</h2>
                        <p>Welcome to the Help section for the Hydrogen Generator feature in H800X Panel Board. If you have any questions or need assistance related to the hydrogen generation functionality, you're in the right place. Below are some helpful resources:</p>
                        <h3>Operating Instructions</h3>
                        <p>Before you start using the hydrogen generator, make sure you review the operating instructions. Learn how to initiate and control the hydrogen generation process for optimal efficiency and safety.</p>
                        <h3>Troubleshooting</h3>
                        <p>If you encounter any issues with the hydrogen generator, refer to our troubleshooting guide. We've compiled common problems and solutions to help you quickly address any challenges you may face during operation.</p>
                        <h3>Technical Documentation</h3>
                        <p>For a deeper understanding of the hydrogen generator's technical aspects, explore our detailed technical documentation. This resource provides comprehensive information on the inner workings, maintenance procedures, and system specifications.</p>
                        <h3>Video Tutorials</h3>
                        <p>Visual learners can benefit from our video tutorials. Watch step-by-step guides on how to set up, operate, and maintain the hydrogen generator. Our video content is designed to make the learning process easier and more interactive.</p>
                        <h3>Community Support</h3>
                        <p>Connect with other hydrogen generator users on our community support platform. Share your experiences, ask questions, and collaborate with a community of users who can provide insights and tips based on their own usage of the hydrogen generator.</p>
                        <h3>Contact H800X Generator Support</h3>
                        <p>If you need personalized assistance or have specific questions related to the hydrogen generator feature, our support team is here to help. Reach out to us via the contact information provided below:</p>
                        <p>Email: <a href="mailto:h800x-support@renewtech.com">h800x-support@renewtech.com</a></p>
                        <p>Phone: +1 (555) 123-4567</p>
                
                        <p>We're committed to ensuring your experience with the H800X Panel Board is seamless. Thank you for choosing our technology!</p>
                    
                    </div>
                    <!-- END Animated Circles Column -->
                </div>
                <!-- END Columns -->
            </main>
            <!-- END Main Content -->
        </div>
        <!-- END Page Container -->

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jquery.appear.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jquery.countTo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/circle-progress.min.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://kit.fontawesome.com/e1103b874c.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function(){
                // Init page helpers (Appear + CountTo + Easy Pie Chart plugins)
                Ares.initHelpers(['appear', 'appear-countTo', 'easy-pie-chart']);
            });
            function updateDateTime() {
                const currentDate = new Date();
                const optionsDate = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                const optionsTime = { hour: '2-digit', minute: '2-digit', hour12: false };

                const formattedDate = currentDate.toLocaleDateString('fr-FR', optionsDate);
                const formattedTime = currentDate.toLocaleTimeString('fr-FR', optionsTime);

                document.getElementById('datetime').textContent = formattedDate;
                document.getElementById('time').textContent = formattedTime;
                // document.getElementById('temperature').textContent = "21 °F";
            }
            // Menu toggle
            document.querySelector('.menu-toggle').addEventListener('click', function() {
                document.querySelector('.menu').classList.toggle('active');
            });
            $(document).ready(function() {
                var menuToggle = $('.menu-toggle');
                var menu = $('.menu');
        
                $(window).scroll(function() {
                if ($(this).scrollTop() > 50) { // 50 est la distance de défilement à partir du haut où vous voulez que l'effet se produise
                    menuToggle.addClass('hidden');
                    menu.addClass('hidden');
                } else {
                    menuToggle.removeClass('hidden');
                    menu.removeClass('hidden');
                }
                });
            });
            // Update date and time every second
            setInterval(updateDateTime, 1000);

            // Initial call to avoid a one-second delay before the first update
            updateDateTime();

            // Update date and time every second
            setInterval(updateDateTime, 1000);

            // Initial call to avoid a one-second delay before the first update
            updateDateTime();

            // Update date and time every second
            setInterval(updateDateTime, 1000);

            // Initial call to avoid a one-second delay before the first update
            updateDateTime();
        </script>
    </body>
</html>
